@media (max-width: 1150px) {
  .container {
    max-width: 110rem;
  }

  .milk-item {
    max-width: 25rem;
  }

  .cart-container {
    max-width: 105rem;
    padding: 0;
  }

  .modal-pay {
    max-width: 110rem;
  }

  .blogs-container {
    max-width: 100rem;
  }
}

@media (max-width: 1050px) {
  .container {
    max-width: 100rem;
  }

  .hero-img {
    width: 95%;
  }

  .milk-item {
    max-width: 23rem;
  }

  .policy {
    width: 90%;
  }

  .modal-pay {
    max-width: 100rem;
  }

  .blogs-container {
    max-width: 95rem;
  }
}

@media (max-width: 1000px) {
  .container {
    max-width: 95rem;
  }

  .milk-item {
    max-width: 21rem;
  }

  .milk-item-name {
    width: 99%;
  }

  .modal-pay {
    max-width: 95rem;
    grid-template-columns: 4fr 2.5fr;
  }

  .blogs-container {
    max-width: 90rem;
  }
}

@media (max-width: 950px) {
  .container {
    max-width: 90rem;
  }

  .header {
    padding: 0 4.8rem 0 0;
  }

  .hero {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .heading-primary span {
    text-align: center;
    display: block;
  }

  .hero-btns {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-description {
    padding: 0 4.8rem;
  }

  .hero-img-box {
    grid-row: 1;
    width: 70%;
  }

  .policy {
    width: 95%;
  }

  .footer {
    grid-template-columns: 1fr 3fr;
    column-gap: 6.4rem;
  }

  .nav-btn {
    align-self: center;
    display: inline-block;
    margin: 0 4.8rem 0 2.4rem;
    opacity: 1;
    pointer-events: inherit;
    visibility: inherit;
    background-color: transparent;
    z-index: 5;
  }

  .header-nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 4;
  }

  .header-nav-list {
    flex-direction: column;
  }

  .detail-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .modal-announce {
    width: 80%;
  }

  .cart-container {
    max-width: 90rem;
    padding: 0;
  }

  .modal-pay {
    max-width: 90rem;
  }
}

@media (max-width: 900px) {
  html {
    font-size: 56.25%;
  }

  .header-logo-img {
    width: 7rem;
  }
}

@media (max-width: 800px) {
  .container {
    max-width: 80rem;
  }

  .brand-img {
    max-width: 35rem;
  }

  .highlight .grid--4 {
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    row-gap: 2.4rem;
  }

  .milk-items {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.4rem;
  }

  .milk-item {
    max-width: 30rem;
  }

  .milk-item-name {
    width: 92%;
  }

  .policy-container {
    grid-template-columns: 1fr;
    row-gap: 4.8rem;
  }

  .policy {
    width: 80%;
  }

  .detail-container {
    grid-template-columns: 1fr;
    justify-items: center;
    row-gap: 3.2rem;
  }

  .product-detail {
    padding: 2.4rem 0;
  }

  .cart-container {
    max-width: 80rem;
    grid-template-columns: 1fr;
  }

  .modal-pay {
    max-width: 80rem;
    grid-template-columns: 1fr;
  }

  .pay--1 {
    border-right: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 2.4rem;
  }

  .blogs-container {
    max-width: 80rem;
    grid-template-columns: 1fr;
  }

  .blog--2 {
    display: none;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }
}

@media (max-width: 700px) {
  .container {
    max-width: 70rem;
  }

  .brand-img {
    max-width: 40rem;
  }

  .brands-container {
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .brand-img-box:nth-child(2) {
    grid-row: 1;
  }

  .brand-img-box:nth-child(6) {
    grid-row: 5;
  }

  .brand-box {
    margin-bottom: 6.4rem;
  }

  .cart-container {
    max-width: 70rem;
  }

  .modal-pay {
    max-width: 70rem;
  }

  .blogs-container {
    max-width: 65rem;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 60rem;
  }

  .milk-item {
    max-width: 27rem;
  }

  .milk-items {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer {
    grid-template-columns: 1fr;
  }

  .company-logo {
    grid-row: 1;
  }

  .company-infors {
    grid-column: 1;
    grid-row: 2;
  }

  .orinut-logo {
    width: 20%;
  }

  .media-logo {
    width: 3rem;
    height: 3rem;
  }

  .cart-container {
    max-width: 60rem;
  }

  .modal-pay {
    max-width: 60rem;
  }

  .blogs-container {
    max-width: 55rem;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 50%;
  }

  .container {
    max-width: 53rem;
  }

  .hero-description {
    padding: 0;
  }

  .milk-item {
    max-width: 24rem;
  }

  .types.container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2.4rem;
  }

  .cart-container {
    max-width: 55rem;
  }

  .cart-infor {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .cart-img {
    width: 50%;
  }

  .garbage-btn {
    bottom: 1%;
  }

  .modal-pay {
    max-width: 55rem;
    padding: 1.2rem;
  }
}

@media (max-width: 450px) {
  .container {
    max-width: 50rem;
  }

  .milk-item {
    max-width: 23rem;
  }
}

@media (max-width: 420px) {
  .container {
    max-width: 47rem;
  }
}

@media (max-width: 400px) {
  .hero-img-box {
    width: 90%;
  }

  .container {
    max-width: 45rem;
  }

  .milk-item {
    max-width: 21rem;
  }

  .milk-item-name {
    width: 99%;
  }

  .policy {
    width: 90%;
  }

  .blogs-container {
    max-width: 40rem;
  }

  .blog {
    grid-template-columns: 1fr;
    height: auto;
  }

  .blog-date {
    top: 3%;
  }

  .blog-img {
    width: 50%;
    margin-bottom: 1.2rem;
  }
}

@media (max-width: 350px) {
  html {
    font-size: 43.75%;
  }

  .hero-img-box {
    width: 100%;
  }

  .hero-img {
    width: 95%;
  }

  .hero-btns {
    flex-direction: column;
    align-items: center;
    row-gap: 1.2rem;
  }

  .hero-btn-product {
    margin-right: 0;
  }

  .milk-item {
    max-width: 21rem;
  }
}
